<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <app-recipe-list (recipeWasSelected)="selectedRecipe= $event"></app-recipe-list>
            </div>
            <div class="col-md-7">
                <app-recipe-detail *ngIf="selectedRecipe; else inforText" [recipe]="selectedRecipe"></app-recipe-detail>
                <ng-template #inforText>
                    <p>Please select a recipe!</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>